/.vscode
/data_jobs.csv
/data_science_jobs.csv
/job_data.py
/Matplotlib_advanced.py
/mini_project.ipynb
/notes.md
/Pandas_Concat_DataFrames.ipynb
/Pandas_Concat_DataFrames.py
/python_advance.ipynb
/python_basics.py
/quater_1
/quater_1.csv
/quater_1.pkl
/quater_1.xlsx
/__pycache__